<template>
   <v-dialog v-model="modal" max-width="500px">
    <v-card>
      <v-card-title class="headline"><slot/></v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="$emit('reject')"
        >Cancel</v-btn>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="$emit('confirm')"
        >OK</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  emits: ['reject', 'confirm'],
  props: {
    modal: {
      type: Boolean,
      required: true
    }
  }    
}
</script>
