<template>
    <v-card width="400" class="mx-auto mt-5">
        <v-card-title>
          <h1 class="display-1">Table Form</h1>
        </v-card-title>
        <v-card-text>
        <v-form ref="form"> 
            <v-text-field
              v-for="input in formMap"
              v-model="item[input.name]"
              :key="input.id"
              :label="input.label"
              hide-details="auto"
            />
        </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="success" @click="openConfirm">Add new item</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="info" v-if="itemToEdit" @click="modifyConfirm = true">Modify item</v-btn>
        </v-card-actions>
    <app-confirm
      :modal="addConfirm"
      @reject="addConfirm = false"
      @confirm="addItem"
    >
      Are you sure you want to add this item?
    </app-confirm>
    <app-confirm
      :modal="modifyConfirm"
      @reject="modifyConfirm = false"
      @confirm="modifyItem"
    >
      Are you sure you want to modify this item?
    </app-confirm>
    </v-card>
</template>

<script>
import {formMap} from '@/utils/maps.js'
import AppConfirm from '@/components/AppConfirm.vue'
import { mapGetters } from 'vuex'
export default {
  components: {
    AppConfirm,
  },
  props: {
    contact: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      modifyConfirm: false,
      addConfirm: false,
      items: this.contact,
    }
  },
  computed: {
    formMap: () => formMap,
    item() {
      const fallback = {
        name: '',
        last_name: '',
        phone_number: '',
        email: '',
        country: '',
        city: '',
        address: ''
      }
      return this.itemToEdit ? {...this.itemToEdit} : fallback
    },
    ...mapGetters(['itemToEdit'])
  },
  methods: {      
    async openConfirm() {
      const isValid = Object.keys(this.item).every(key => this.item[key] !== '')
      if(isValid) this.addConfirm = true
    },
    async addItem() {
      await this.$store.dispatch('addContact', this.item)
      this.addConfirm = false
      this.$refs.form.reset()
    },
    modifyItem() {
      this.modifyConfirm = false
      this.$store.dispatch('updateContact', this.item)
    }
  },
}
</script>
