<template>
<v-container>
   <v-data-table
    :headers="tableHeaderMap"
    :items="contacts.data"
    class="elevation-1 my-6"
    :server-items-length="contacts.total"
    :page="contacts.current_page"
    :items-per-page="itemsPerPage"
    @pagination="loadTable"
  >     
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="$store.commit('setItem', item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="openModal(item)"
      >
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
  <!-- <v-dialog v-model="modal" max-width="500px">
    <v-card>
      <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="closeDelete" >Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="deleteItem">OK</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog> -->
  <app-confirm
      :modal="deleteConfirm"
      @reject="closeDelete"
      @confirm="deleteItem"
    >
      Are you sure you want to add this item?
    </app-confirm>
</v-container>
</template>

<script>
import {tableHeaderMap} from '@/utils/maps.js'
import AppConfirm from '@/components/AppConfirm.vue'
import {mapGetters} from 'vuex'

export default {
  components: {
    AppConfirm,
  },
  data() {
    return {
      deleteConfirm: false,
      selecteItem: null,
      itemsPerPage: 5,
      page: null
    }
  },
  computed: {
    tableHeaderMap: () => tableHeaderMap,
    ...mapGetters(['contacts'])
  },
  methods: {
    openModal(contact) {
      this.selecteItem = contact
      this.deleteConfirm = true
    },
    closeDelete() {
      this.selecteItem = null
      this.deleteConfirm = false
    },
    async deleteItem() {
      await this.$store.dispatch('deleteContact', this.selecteItem.id)
      this.loadTable({page: this.page, itemsPerPage: this.itemsPerPage})
      this.closeDelete()
    },
    loadTable(val) {
      this.page = val.page
      this.itemsPerPage = val.itemsPerPage
      this.$store.dispatch('loadAllContacts', {per_page: val.itemsPerPage, page: val.page})
    }
  },
}
</script>
