<template>
  <v-app>
    <v-main>
      <Form/>
      <Table/>
    </v-main>
  </v-app>
</template>

<script>
import Form from '@/components/Form.vue'
import Table from './components/Table.vue'
export default {
  name: 'App',
  components: {
    Form,
    Table
  },
  data: () => ({
    
  }),
};
</script>
